{% extends 'base.html.twig' %}

{% block title %}Hello FormSearchIngredientFiltreAjaxController!{% endblock %}
{# {% import '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' as knp_pagination %} #}

{% block body %}
{% include 'navigation.html.twig' %}
<h1>Which ingredient would you like to cook?</h1>

    {{form_start(form,{'attr':{'id':'recherche-form'}})}}
        {{ form_row(form.nom) }}
        <button class="btn btn-primary" id="search" type="submit">Search!</button>
    {{ form_end(form) }}

<div id="div_resultats" class="row">
{# <div id="div_resultats"> #}
{# <pre>
    {{ dump({recettes}) }}
</pre> #}

    {% for recipe in recettes %}
        <div class="col-sm-6" style= "width:18rem">
            <div class="card" style= "width:18rem">
                <img class="card-img-top" src = {{recipe.image}} alt="Card image cap" style= "width:18rem">
                <div class="card-body" style= "width:18rem">
                    <h5 class="card-title">{{ recipe.titre }} </h5>
                    {# <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> #}
                    <a href="{{ path('show_recipe', {'id': recipe.id }) }}"  class="btn btn-primary">Lire la recette</a>
                </div>
                </img>
            </div>
        </div>
    {# <br>Titre: {{ recipe.titre }} 
    <br>Image: {{ recipe.image }}  #}
    {% endfor %}

{# </div> #}
</div>

<div id="navigationPagination" class="pagination">
    {{ knp_pagination_render(recettes) }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
document.getElementById('search').addEventListener('click', function(event) {
        
    event.preventDefault();
    let divResultat=document.getElementById("div_resultats");
    divResultat.innerHTML="";
    //alert("jjj");
    // obtenir le div pour afficher les résultats

    axios({
        // on prend la route generee avec path du data-route du form
        url: '/search/ingredient',
        method: 'POST',
        headers: {
            'Content-Type': 'multipart/form-data'
        },
        data: new FormData(document.getElementById('recherche-form'))
    }).then(function (response) {


        

        // parcourir l'array d'objets reçu (car le JSON a été déjà parsé par AXIOS)
        let arrayIn = response.data;

        //alert("je suis dans le then");
        //let myObj=JSON.Parse(arrayIn);
        console.log(arrayIn);
        // console.log(arrayIn[0]['image']);
      
        arrayIn.forEach(function (recipe){
    
        var cardDivCol = document.createElement("div");
        cardDivCol.className = "col-sm-6";

        var cardDiv = document.createElement("div");
        cardDiv.className = "card";
        cardDiv.style.width = "18rem";

        var img = document.createElement("img");
        img.className = "card-img-top";
        // img.src = arrayIn[0]['image'];
        img.src = recipe['image'];
        img.alt = "Card image cap";

        var cardBodyDiv = document.createElement("div");
        cardBodyDiv.className = "card-body";

        // Création de l'élément h5 avec la classe "card-title" et le texte spécifié
        var cardTitle = document.createElement("h5");
        cardTitle.className = "card-title";
        cardTitle.textContent = recipe['titre'];

        // Création de l'élément p avec la classe "card-text" et le texte spécifié
        var cardText = document.createElement("p");
        cardText.className = "card-text";
        cardText.textContent = "";

        // Création de l'élément a avec les classes "btn" et "btn-primary" et le texte spécifié
        var link = document.createElement("a");
        link.href = "/show/recipe/" + recipe['id'];
        link.className = "btn btn-primary";
        link.textContent = "Lire la recette";

        // Ajout des éléments créés à la carte
        cardBodyDiv.appendChild(cardTitle);
        cardBodyDiv.appendChild(cardText);
        cardBodyDiv.appendChild(link);

        cardDiv.appendChild(img);
        cardDiv.appendChild(cardBodyDiv);

        // Ajout de la carte au document
        //divResultat.innerHTML="";
        cardDivCol.appendChild(cardDiv);
       
         
        divResultat.appendChild(cardDivCol);



    });

       // divResultat.innerHTML="<p> Titre de la 1ère recette est: " + arrayIn[0]['titre'];

        })
        .catch(error=>{
            console.error(error);
        })
    })
</script>


{% endblock %}