{% extends 'base.html.twig' %}

{% block title %}Wecome!{% endblock %}
{% import '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' as knp_pagination %}

{% block body %}
{% include 'navigation.html.twig' %}

<hr>
<h1 class="d-flex align-items-center justify-content-center">What would you like to cook?</h1>

    {# {{form_start(form,{'attr':{'id':'recherche-form'}})}}
        {{ form_row(form.nom) }}        
        <button class="btn btn-primary" id="search" type="submit">Search </button>
    {{ form_end(form) }} #}
      
            {{ form_start(form, {'attr': {'id': 'recherche-form'}}) }}
                <div class="d-flex align-items-center justify-content-center">
                    {{ form_row(form.nom) }}
                    <button class="btn btn-primary" id="search" type="submit">Search</button>
                </div>
                <hr>
                
            {{ form_end(form) }}
       

    <div id="div_resultats" class="row d-flex align-items-center justify-content-center" >
{# <div id="div_resultats"> #}
{# <pre>
    {{ dump({recettes}) }}
</pre> #}

    {% for recipe in recettes %}
        <div class="col-sm-6" style= "width:18rem">
            <div class="card" style= "width:18rem">
                <img class="card-img-top" src = {{recipe.image}} alt="Card image cap" style= "width:18rem">
                <div class="card-body" style= "width:18rem">
                    <h5 class="card-title">{{ recipe.titre }} </h5>
                    {# <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> #}
                    <a href="{{ path('show_recipe', {'id': recipe.id }) }}"  class="btn btn-primary">Lire la recette</a>
                </div>
                </img>
            </div>
        </div>
    {# <br>Titre: {{ recipe.titre }} 
    <br>Image: {{ recipe.image }}  #}
    {% endfor %}

{# </div> #}

        <div class="pagination d-flex align-items-center justify-content-center">
            {{ knp_pagination_render(recettes,'./twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
document.getElementById('search').addEventListener('click', function(event) {
        
    event.preventDefault();
    let divResultat=document.getElementById("div_resultats");
    divResultat.innerHTML="";
    // vider pagination
    //let divNavigationPagination=document.getElementById("navigationPagination");
    //divNavigationPagination.innerHTML="";
    let myFormData=new FormData(document.getElementById('recherche-form'))
    myFormData.append ('page',1);
    
    //alert("jjj");
    // obtenir le div pour afficher les résultats

    axios({
        // on prend la route generee avec path du data-route du form
        url: "{{path('search_ingredient_ajax_traitement')}}",
        method: 'POST',
        headers: {
            'Content-Type': 'multipart/form-data'
        },
        data: myFormData
        }).then(function (response) {


        console.log(response.data);
        divResultat.innerHTML=response.data;
       })
        .catch(error=>{
            console.error(error);
        })
    })
</script>
<script>
document.addEventListener ('click', function (event){
    console.log (event.target.nodeName);
    if (event.target.nodeName ==="A"  && event.target.href.includes ("page=") &&  event.target.href.includes ("ajax")){
        
        console.log ("pagination ajax");
        // empecher le lien de fonctionner
        event.preventDefault();
        event.stopPropagation();

        // obtenir le lien du paginator
        let lien = event.target.href;
        // extraire du lien le nombre de page
        let page = lien.split('=')[1]; // position 1 de l'array crée par split contient le text après le =
        console.log ("page du lien (inspectez pour le voir): " + page);
        let divResultat=document.getElementById("div_resultats");
        divResultat.innerHTML="";
        
        // l'appel renvoie le form tel qu'il est, avec le numero de page à charger
        // rajouter un couple clé-val au form (POST). L'action a besoin de la page pour le paginator,
        // qui renverra les éléments à afficher (pareil que sans AJAX)
        let myFormData = new FormData(document.getElementById("recherche-form"));
        // on rajoute à la main un couple clé=>valeur dans le POST: page: X
        myFormData.append('page', page);

        axios({
            url: '{{ path ("search_ingredient_ajax_traitement") }}',
            method:'POST',
            headers: {'Content-type' : 'multipart/form-data'},
            data: myFormData
        })
        .then ( function (response) {
            //alert("je suis rentrée dans le then");
            divResultat.innerHTML = response.data;
            console.log (response.data);
        })
        .catch( function (error)  {
            console.log ("error:");
            console.log (error);
        });
    }else{
        
    }
    

});

</script>

{% endblock %}