{% extends "base.html.twig" %}

{% block body %}
{% include 'navigation.html.twig' %}
<style>
.blue-color {
    font-size: 2rem;
    color: blue;
}
.red-color {
    font-size: 2rem;
    color:red;
}
#popup-window, #popup-windowCourse {
  position: fixed;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}  

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

</style>
<div >

<h1 class="d-flex justify-content-center align-items-center"> Title: {{recipe[0].titre}}</h1>

{% set class = 'bi bi-heart-fill blue-color' %}

{% if app.user %}

    {% if isfavorite %}
        {% set class = 'bi bi-heart-fill red-color' %}
    {% else %}
        {% set class = 'bi bi-heart-fill blue-color' %}
    {% endif %}

{% else %}

    {% set class = 'bi bi-heart-fill blue-color' %}

{% endif %}
<div class="d-flex justify-content-center align-items-center">
<span id="heart_like {{ recipe[0].id }}" data-id="{{ recipe[0].id }}" class="{{ class }}"></span> 


{# -------CODE FONCTIONNEL #}
{# {% set class = 'bi bi-heart-fill blue-color' %}

{% if isfavorite and app.user %}
    {% set class = 'bi bi-heart-fill red-color' %}
{% else %}
    {% set class = 'bi bi-heart-fill blue-color' %}
{% endif %}
<span id="heart_like {{ recipe[0].id }}" data-id="{{ recipe[0].id }}" class="{{ class }}"></span>  #}

{# ------- FIN CODE FONCTIONNEL #}

{# agrandir la taille des emoticones #}

<span id={{recipe[0].id}} class="bi bi-cart-plus-fill" style="font-size: 2rem"></span>
</div>

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <h3> Ingredients: </h3>
                            <ul>

                            {% for ingRec in ingRecette %}
                            <li> {{ingRec.nom}}: {{ingRec.quantity}}</li>
                            {% endfor %}

                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
    
        <h3> Instructions: </h3>
        <p>{{recipe[0].instruction}}</p>


        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="popup-window" class='card'>
    {# <h1>Pop-up Window</h1> #}
    <p d-flex align-items-center justify-content-center>Pour ajouter aux favoris, veuillez vous <a href={{path('app_login')}}>connecter</a> ou vous <a href={{path('app_register')}}> inscrire</a></p>
    <button id="close-button">Close</button>
</div>
 <div id="popup-windowCourse" class='card'>
    {# <h1>Pop-up Window</h1> #}
    <p>Pour ajouter à la liste des courses, veuillez vous <a href={{path('app_login')}}>connecter</a> ou vous <a href={{path('app_register')}}> inscrire</a></p>
    <button id="close-buttonCourse">Close</button>
</div>
{# {% if app.user %}  #}
<script>
    let likeButton = document.getElementById("heart_like {{recipe[0].id}}");
    likeButton.addEventListener('click', function(event) {
    event.preventDefault();

    let btnClique=event.target;
    let isAuthentificated="{{ app.user ? true : false }}";
    if (isAuthentificated){
            let formLike= new FormData();
            formLike.append("id", btnClique.dataset.id);
            //axios.post ("/recipe/like", formLike, { headers: {
            axios.post ("{{path('recipe_like')}}", formLike, { headers: {
                'Content-Type': 'multipart/form-data',  },
            })
            .then ((response)=>{
                let colorHeart = response.data.heartColor;
                if (colorHeart=='blue'){
                    likeButton.style.color="blue";
                }else{
                    likeButton.style.color="red";
                }

            console.log(response);
            
            })
            .catch((error)=>{
                console.log("La reponse de la requete Post:", error);

            })
                
        } 
            //alert('Pour ajouter au favoris, veuillez vous connecter.');

           
        let popupLink = document.getElementById("heart_like {{recipe[0].id}}");
        let popupWindow = document.getElementById("popup-window");
        let closeButton = document.getElementById("close-button");
        // Show the pop-up window when the link is clicked
        popupLink.addEventListener("click", function(event) {
            event.preventDefault();
            popupWindow.style.display = "block";
        });
        // Hide the pop-up window when the close button is clicked
        closeButton.addEventListener("click", function() {
            popupWindow.style.display = "none";
        });     
            

        
    })

    let groceryButton = document.getElementById("{{recipe[0].id}}");
    groceryButton.addEventListener('click', function(evenement) {
    evenement.preventDefault();

    let btnCliqueGrocery=evenement.target;
    let isAuthentificatedCourse="{{ app.user ? true : false }}";
    if (isAuthentificatedCourse){
        let formLike= new FormData();
        formLike.append("id", btnCliqueGrocery.id);
        //const id=btnCliqueGrocery.id
        //axios.post (`/grocery/cart/add`, formLike, { headers: {
        axios.post ("{{path('app_grocery_cart_add')}}", formLike, { headers: {
            'Content-Type': 'multipart/form-data',  },
        })
        .then ((response)=>{
            //alert("hello du if");
            groceryButton.style.color="green"
            let arrayIn = response;
              

            //alert("je suis dans le then");
            //let myObj=JSON.Parse(arrayIn);
            console.log(arrayIn);
            
        
        })
        .catch((error)=>{
            console.log("La reponse de la requete Post:", error);

        });
    }

    let popupLinkCourse = document.getElementById("{{recipe[0].id}}");
    let popupWindowCourse = document.getElementById("popup-windowCourse");
    let closeButtonCourse = document.getElementById("close-buttonCourse");
    // Show the pop-up window when the link is clicked
    popupLinkCourse.addEventListener("click", function(event) {
        event.preventDefault();
        popupWindowCourse.style.display = "block";
    });
    // Hide the pop-up window when the close button is clicked
    closeButtonCourse.addEventListener("click", function() {
        popupWindowCourse.style.display = "none";
    });     
            

})


</script>
{# {% endif %} #}

{% endblock %}