{% extends "base.html.twig" %}

{% block body %}


<h1> Title: {{recipe[0].titre}}</h1>

<button id="like" data-id={{recipe[0].id}} class="btn btn-primary">Like</button>
{# REFLECHIR A COMMENT INTEGRER LES LIENS DE FAVORIS DANS UNE SEULE PAGE AVEC LEUR URL #}
<button id="all_favoris" class="btn btn-primary">Favoris</button>

<h3> Ingredients: </h3>
<ul>

    {% for ingRec in ingRecette %}
        <li> {{ingRec.nom}}: {{ingRec.quantityMeasure}}</li>
    {% endfor %}

</ul>

    
<h3> Instructions: </h3>
<p>{{recipe[0].instruction}}</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    let btnLike=document.getElementById("like");
    btnLike.addEventListener('click',function(event){
        let btnClique=event.target;
        console.log(btnClique.dataset.id);
        alert('all is ok');
        let formLike= new FormData();
        formLike.append("id", btnClique.dataset.id);

        axios.post ("/recipe/like", formLike, { headers: {
            'Content-Type': 'multipart/form-data',  },
        })
        .then ((response)=>{
            //alert("hello");
            console.log("La reponse de la requete POst:", response.data);
        })
        .catch((error)=>{
            console.log("La reponse de la requete POst:", error);

        });

    });
{# Bouton favoris temporaire à remplacer par un onglet spécifique #}
    let btnFavoris=document.getElementById("all_favoris");
    btnFavoris.addEventListener('click', function(event){
        window.location.href ="/recipe/show/likes"
    })


</script>


{% endblock %}