{% extends "base.html.twig" %}

{% block body %}
<style>
.blue-color {
    color:blue;
}
</style>

<h1> Title: {{recipe[0].titre}}</h1>


<span id="heart_like" data-id={{recipe[0].id}} class="bi bi-heart-fill blue-color"></span>

<h3> Ingredients: </h3>
<ul>

    {% for ingRec in ingRecette %}
        <li> {{ingRec.nom}}: {{ingRec.quantityMeasure}}</li>
    {% endfor %}

</ul>

    
<h3> Instructions: </h3>
<p>{{recipe[0].instruction}}</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
let btnLike=document.getElementById("heart_like");
btnLike.addEventListener('click',function(){
    if (btnLike.style.color === 'blue') {
        btnLike.style.color='red';
    }else{
        btnLike.style.color = 'blue';
    }
})

</script>


{% endblock %}