{% extends 'base.html.twig' %}

{% block title %}Liste de courses{% endblock %}

{% block body %}
{% include 'navigation.html.twig' %}
<h1> Liste de courses</h1> 

{# <ul>
    {% for liste in listeCourse %}
        {% for ingr in liste %}
        <li> {{ingr.nom}}: {{ingr.quantiteTotal}}</li>
        {% endfor %}
    {% endfor %}

</ul> #}
<a href="{{path("app_grocery_cart_delete")}}"><button>Delete panier</button></a>
{% if listeCourse | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Ingredients</th>
                <th>Quantité totales</th>
            </tr>
        </thead>
        <tbody>
            {% for liste in listeCourse %}
                {% for ingr in liste %}
                    <tr>
                        <td>{{ ingr.nom }}</td>
                        <td>{{ ingr.quantiteTotal }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p colspan="5" class="text-center">Votre panier est vide</p>
{% endif %}

{% endblock %}
