<nav>
    <ul>
        {% if app.user %}
        <li><a href={{ path('accueil') }}>Accueil</a></li>
        <li><a href={{ path('search_ingredient') }}>Recettes</a></li>
        <li><a href={{ path('recipe_show_likes') }}>Liste des favoris</a></li>                
        <li><a href={{ path('app_grocery_cart') }}>Liste courses</a></li>                
        {# <li><a href={{ path('accueil') }}>Profil</a></li> #}
        <li><a href={{ path('app_logout') }}>Déconnexion</a></li>
        {% else %}
            <li><a href={{ path('app_login') }}>Connexion</a></li>
            <li><a href={{ path('app_register') }}>Inscription</a></li>
        {% endif %}
    </ul>
</nav>